/* Header */
.container-fluid.main {
  position: relative;
  padding: 0;
}
.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 991px) {
  .carousel .background {
    background-size: cover;
  }
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .carousel .background {
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }
}
.carousel .background.a {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../image/pexels-photo-2780762.webp");
}
.carousel .background.b {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../image/meghan-holmes-buWcS7G1_28-unsplash.jpg");
}
.carousel .background.c {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../image/pexels-photo-2261485.jpeg");
}
.carousel .background.d {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../image/sven-mieke-optBC2FxCfc-unsplash.jpg");
}
.carousel .background.e {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../image/pexels-photo-841130.jpeg");
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slide__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-logo {
  width: auto;
  background-color: rgba(153, 153, 153, 0.6);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .slide__content img {
    width: 150px;
    height: 150px;
  }
}
/* End Header */

/* Start of Mission */

.mission-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mission-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
}

.item-mission {
  padding: 15px 20px;
  margin: 20px 10px;
}

.mex-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .mex-text {
    display: block;
    flex-direction: column;
  }
}

.HF-text {
  flex: 1;
  background: #0a51cc;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 12px;
}

.hf-item i {
  margin-left: 5px;
}

.food-health h2 p {
  text-align: left;
}

em {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.icon-apple,
.icon-heart {
  color: #fff;
  font-size: 25px;
}

/* End Mission */

/* About */

.container-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  flex-basis: 50%;
  margin: 20px 0;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .container-about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.items {
  flex: 1;
}

.items:nth-child(1) {
  flex-basis: 100%;
}

.items-1 {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 1px;
  margin: 40px;
}

img {
  display: block;
  max-width: 100%;
}

.items-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

/* End About */

/* Start Card Avatar */
.logo-av {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.logo-av img {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  width: 90px;
  height: 90px;
}

/* End Card Avatar */

/* Start Progress */
.container-1 {
  width: 100%;
  display: block;
  overflow: hidden;
}

.title-progress {
  padding-bottom: 20px;
  font-family: "Lora", serif;
  font-weight: Bold;
  color: #511845;
  letter-spacing: 1px;
  font-size: 44px;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .title-progress {
    font-size: 36px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .title-progress {
    font-size: 40px;
  }
}

.carousel-1 {
  display: block;
  width: 100%;
  height: 480px;
  padding-top: 20px;
  white-space: nowrap;
  position: inherit;
  z-index: -1;
}

.owl-carousel {
  margin: auto 0;
}

.item {
  width: 300px;
  margin: 0 auto;
  height: 300px;
  border-radius: 20px;
  display: block;
  position: relative;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .item {
    width: 250px;
    height: 250px;
    padding-bottom: 10px;
  }
}

#client-1 {
  background-image: url("../image/progress/changefront.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#client-2 {
  background-image: url("../image/progress/Lea.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#client-3 {
  background-image: url("../image/progress/unnamed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#client-4 {
  background-image: url("../image/progress/PHOTO-2022-02-01-20-28-49.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#client-5 {
  background-image: url("../image/progress/PHOTO-2022-02-01-20-28-50\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#client-6 {
  background-image: url("../image/progress/image0.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#client-7 {
  background-image: url("../image/progress/imageNew.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}

.owl-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  border: 2px solid #fff !important;
  transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
  background-color: #fff !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}

.owl-prev {
  left: 40px;
}

.owl-next {
  right: 20px;
}

/* End Progress */

/* Start Promo */

#promo1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../image/logo/LOGOTYPE.png") no-repeat center center / cover;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  display: block;
  position: relative;
  width: 100%;
}

#promo1:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
}

.container-promo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  line-height: 70px;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .container-promo {
    line-height: 40px;
  }
}

.text-promo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 12px;
}

.info1 {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.info2 {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 80px;
}
/* End Promo */

/*Start Testimonials */

.container {
  padding-top: 60px;
  padding-bottom: 30px;
}

#testimonial-slider {
  display: block;
  position: relative;
  z-index: inherit;
}

.testimonial {
  margin: 0 90px;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .testimonial {
    margin: 0 20px;
  }
}

.testimonial .testimonial-content {
  margin: 20px 0 50px 0;
  position: relative;
}

.testimonial .description {
  padding: 25px 35px;
  margin: 0;
  border: solid 2px #fff;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
  position: relative;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .testimonial .description {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .testimonial .description {
    font-size: 18px;
  }
}

.testimonial .description:before,
.testimonial .description:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 8px;
  text-align: center;
  background: #fff;
  position: absolute;
}

.testimonial .description:before {
  content: "\f10d";
  top: -18px;
  left: 25px;
  color: #000;
}

.testimonial .description:after {
  content: "\f10e";
  bottom: -18px;
  right: 25px;
  color: #000;
}

.testimonial .testimonial-profile {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.testimonial .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial .title {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .testimonial .title {
top: 0;
margin: 0 2px;
font-size: 16px;
  }
}

.testimonial .post {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  margin-top: 10px;
}

.owl-theme .owl-controls {
  margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
  background: transparent;
  border: 1px solid #fff;
  opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span {
  background: #fff;
  border: 1px solid #fff;
}

/* End Testimonials */

/* Promo 2 */

#promo2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../image/karim/ce014004-9fe5-4b90-bc9b-60f15c905250.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  position: relative;
  width: 100%;
}

#promo2:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
}

.text-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: 20px auto;
}

.box-list-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .box-list-items {
    font-size: 2rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    height: 300px;
  }
}

.call-action {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* End Promo 2 */

/* Nutrition */

.container-nutrition {
  display: block;
  position: relative;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../image/karim/pexels-maarten-van-den-heuvel-2284166.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.text-nut {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-nut-items {
  padding: 60px;
  color: #fff;
}

.call-normal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* End Nutrition */

/* Start of Recipe */

#recipe {
  padding-top: 60px;
}

.container-recipe {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.cards-body {
  display: flex;
  flex-direction: column;
}

.cards {
  width: auto;
  height: 250px;
  border-radius: 25px;
}

.cards-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/Spanish-Paella.jpg") no-repeat center center / cover;
}

.cards-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/Cod-Fish-Cakes-sq.jpg") no-repeat center center /
      cover;
}

.cards-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/timthumb.gif") no-repeat center center / cover;
}

.cards-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/aquapazza_56822.jpg") no-repeat center center / cover;
}

.cards-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2013__02__carrot-ginger-soup-horiz-b-1800-dd69c8e29d2a4a78bc0f4626536dcd06.jpg")
      no-repeat center center / cover;
}

.cards-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/img86001.768x512.jpg") no-repeat center center /
      cover;
}

.cards-7 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/rice-salad-with-roasted-peppers-and-onions-5-Edit.jpg")
      no-repeat center center / cover;
}

.cards-8 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/couscous-g2f66b2ba4_1920.jpg") no-repeat center
      center / cover;
}

.cards-9 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/Best_Ever_Oatmeal_Raisin_Cookies_Featured.jpg")
      no-repeat center center / cover;
}

.cards-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/Spiced-hot-fruit-bake-6.jpg") no-repeat center center /
      cover;
}

.cards-11 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/pexels-cottonbro-4547572.jpg") no-repeat center
      center / cover;
}

.cards-12 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../image/cookbook/alison-pang-VKsZn10EC7E-unsplash.jpg") no-repeat
      center center / cover;
}

.why-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

/* End of Recipe */

/* Start of FAQ Accordion */

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  margin-top: 100px;
  margin-bottom: 150px;
  background-color: none;
}

.accordion-item {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background: #0a51cc;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-item-header.active::after {
  transform: rotate(45deg);
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 3px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.faq {
  /* font-size: 26px; */
  color: #fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-align: left;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .faq {
    font-size: 20px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .faq {
    font-size: 22px;
  }
}

.faq2 {
  font-family: "Lora", sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  text-align: left;
  line-height: 3rem;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
  .faq2 {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .faq2 {
    font-size: 18px;
  }
}

/* End of FAQ Accordion*/
